# Ignorar entorno virtual
entorno_virtual/
.env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local de Django
db.sqlite3

# Archivos de migraciones (si quieres ignorarlos, opcional)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Archivos estáticos y media
/staticfiles/
/media/

# Configuración de VS Code
.vscode/
